@tailwind base;
@tailwind components;
@tailwind utilities;

.shake {
  animation: shake 2s ease infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: (-15deg);
  }
}

html {
  scroll-behavior: smooth;
}

.sidebar {
  @apply bg-white/90 dark:bg-slate-900/95;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  @apply w-full lg:w-36;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
}
